/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  background: red;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: black;
}

.bg {
  background-color: white;
}

.navbar {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}




/* header {
  width: 100vw;
  height: 100px;
  background-color: white;
  box-shadow: 0px 3px 8px rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

header .container-fluid {
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navb-logo img{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .navb-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
}

header .item {
  text-align: center;
  margin-inline: 15%;
  font-size: 15px;
  letter-spacing: 3px;
  color: gold;
  padding: 5px 0;
  transition: all .1s ease;
  border-bottom: 0px solid black;
  border-top: 0px solid black;
  cursor: pointer;
}

header .item:hover {
  border-bottom:  3px solid black;
  border-top:  3px solid black;
}

header .item-button a{
 background-color: gold;
 width: 150px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 16px;
 color: white;
 transition: all .5s ease;
}

header .item-button a:hover {
  background-color: black;
}
 */




.menu-paketan {
  width: 85%;
  margin: 50px auto;
  background: red;
}

.menu-paketan h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  margin: 20px 0;
}

.menu-paketan .ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid yellow;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: black;
}

.menu-paketan .ul li {
  list-style: none;
  padding: 9px 25px;
  background: white;
  cursor: pointer;
  margin: 7px 10px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 15px;
}

.menu-paketan .ul li:hover {
  background: yellow;
}

.menu-paketan .ul li.current {
  background: yellow;
}

.menu-paketan .ul li.current:hover {
  background: yellow;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px;
  grid-gap: 30px;
  justify-content: center;
}

.card-container .card-menu {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  background: white;
  color: black;
  width: 225px;
  max-width: 100%;
  transition: transform;
  transition-duration: 0.3s;
  padding-bottom: 10px;
}

.card-container .card-menu img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* width: 100%; */
}

.card-container .card-menu .card-harga {
  padding-bottom: 20px;
}

.card-container .card-menu .card-harga p {
  line-height: 20px;
}

/* .card-harga {
    text-transform: uppercase;
    cursor: progress;
} */

.card-container .card-menu:hover {
  /* transform: rotate(15deg);
    transform: scale(0.5); */
  transform: scale(1.2);
  /* transform: translate(50px); *geser* */
}

.card-container .card-menu .btn {
  font-size: 15px;
  font-weight: 600;
  background: gold;
  width: 160px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.card-container .card-menu .btn:hover,
.card-container .card-menu .btn:focus,
.card-container .card-menu s.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* menu pagination */
.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
}

.listPage li {
  background-color: white;
  padding: 15px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.listPage .active {
  background-color: gold;
  color: white;
}

@media (max-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .ul-bg {
    background-color: gold;
  }
}
